body {
background-color: #FFFFFF;
color: #666666;
font-family: verdana, Arial, sans-serif;
background-image: linear-gradient(to bottom, #eeeeee, #ffffff);
background-attachment: fixed;
}


header {
    background-color: #003058;
    color: #FFFFFF;
    font-family: georgia, serif;
}

main{
    padding-left: 2rem;
    padding-right: 2rem;
}


header h1 {
    line-height: 140%;
    padding: .5rem;
    background-image:url(Images/utahtechlogo.svg) ;
    background-repeat: no-repeat;
    background-position: right top;
    padding-left: 1em;
    background-origin: content-box;
    margin-bottom: 0;
}


nav{
    font-weight: bold;
    background-color: #f3f3f3;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
}
nav a{
    text-decoration: none;
}

h2{
    color: #424242;
    font-family: georgia, serif;

}

h3{
    color: #003058;
}

dt{
    color: #003058;
    font-weight: bold;
}

.ut{
    color: #ba1c21;
    font-weight: bold;
}

#homehero{
    height: 300px;
    background-image: url(Images/homehero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#studenthero{
    height: 300px;
    background-image: url(Images/studenthero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#facultyhero{
    height: 300px;
    background-image: url(Images/facultyhero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



footer{
    font-size: .70rem;
    font-style: italic;
    text-align: center;
    padding: 1rem;
}





#wrapper {
width: 80%;
margin-right: auto;
margin-left: auto;
background-color: #ffffff;
min-width: 960px;
max-width: 2048px;
box-shadow: 0px 3px 3px rgba(66,66,66,0.3);
}